{% extends 'base.html' %}
{% block title %}À Propos{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col py-3 my-3">
            <h1 class="display-4">
                Licences et crédits
            </h1>
        </div>
    </div>
    <div class="row">
        <p>Source de l'image dans la page du fonctionnement : <a href="https://arxiv.org/abs/2112.10752">arxiv.org</a></p>        
    </div>
    <div class="row">
        <p>
            Ce programme est publié sous la licence GNU GENERAL PUBLIC LICENSE Version 3.
        </p>
        <p>
            Le code source est entièrement disponible sur <a href="https://github.com/orgs/Dilydigre/repositories">github</a>
        </p>
    </div>
</div>
{% endblock %}