{% extends 'base.html' %}
{% block title %}Fonctionnement{% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col py-3 my-3">
            <h1 class="display-4">
                Comment ça marche ?
            </h1>
        </div>
    </div>
    <div class="row">
        <p class="explanations">La génération de l'image utilise un modèle de diffusion latente dont le principe de fonctionnement est le suivant :</p>
        <img src="{{ url_for('static', filename='img/diffusion_model.png') }}">
        <p>Une image d'entrée x est d'abord encodée dans un espace latent via une fonction (représentée par le symbole &epsilon; sur l'image) en un vecteur z. Le vecteur z va ensuite subir une étape de diffusion, c’est à dire l’ajout successif
            en T étapes de bruit Gaussien à l’image d’origine, jusqu’à obtenir z<sub>T</sub>. Le processus de débruitage du vecteur z<sub>T</sub> est ensuite réalisé en le conditionnant avec un texte issu de l'entrée de l'utilisateur. L'opération de débruitage est effectuée par un réseau de neurones avec une architecture U-net. Cette opération de débruitage est effectuée T fois pour donner le vecteur nommé z. Ce vecteur est finalement décodé via la fonction représentée par le bloc D pour donner notre image générée. </p>
    </div>
</div>
{% endblock %}