{% extends 'base.html' %}
{% block title %}Génération{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Image générée -->
        <div class="w-100 col justify-content-center mx-auto py-3 my-3"> 
            <div class="text-center {{ visibility }}">
                <img id="generated-img" class="rounded" src="data:image/png;base64,{{ b64imagetag }}" width="500" height="500">
            </div>        
        </div>
        <div class="w-100"></div> 

        <!-- Bouton download -->
        <div class="col justify-content-center mx-auto py-3 my-3">
            <div class="text-center {{ visibility }}">
                <button type="button" class="btn btn-lg btn-info text-white" onclick="download()">Télécharger</button>
            </div>
        </div>
        <div class="w-100"></div>  

        <!-- Prompt -->
        <div class="col justify-content-center py-3 my-3">
            <div class="justify-content-center input-group">
                <input type="checkbox" class="btn-check" id="btn-check" checked autocomplete="off" onchange="updateModelText()">
                <label id="model-label" class="btn btn-outline-primary" for="btn-check">Modèle v.2</label>
                
                <form action="/generate" method="post" id="prompt">
                    <input name="description" id="description" type="text" class="form-control" placeholder="Précisez le visage à générer...">
                
                </form>

                <button type="submit" form="prompt" value="submit" class="btn btn-primary">Générer</button>
                
            </div>
        </div>
        <div class="w-100"></div>
    </div>
</div>

<script>
    function download() {
        const imageData = document.getElementById("generated-img").src;
        const downloadLink = document.createElement("a");
        downloadLink.href = imageData;
        downloadLink.download = "generatedImage" + Date.now() + ".png";
        downloadLink.class = "hidden";
        downloadLink.click();
    };

    function updateModelText() {
        const modelSelector = document.getElementById("model-label");   
        if (modelSelector.innerHTML === "Modèle v.2") {
            modelSelector.innerHTML = "Modèle v.1";
        } else {
            modelSelector.innerHTML = "Modèle v.2";
        }
    }
</script>

{% endblock %}
