{% extends 'base.html' %}
{% block title %}Génération{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Image générée -->
        <div class="w-100 col justify-content-center mx-auto py-3 my-3"> 
            <div class="text-center {{ visibility }}">
                <img id="generated-img" class="rounded" src="data:image/png;base64,{{ b64imagetag }}">
            </div>        
        </div>
        <div class="w-100"></div> 

        <!-- Bouton download -->
        <div class="col justify-content-center mx-auto py-3 my-3">
            <div class="text-center {{ visibility }}">
                <button type="button" class="btn btn-lg btn-info text-white" onclick="download()">Télécharger</button>
            </div>
        </div>
        <div class="w-100"></div>  

        <!-- Prompt -->
        <div class="col justify-content-center py-3 my-3">
            <div class="justify-content-center input-group">
                <form action="/generate" method="post" id="prompt">
                    <input name="description" id="description" type="text" class="form-control" placeholder="Précisez le visage à générer...">
                

                <input type="checkbox" class="btn-check" id="btn-check" checked autocomplete="off" onchange="updateModelText()">
                    <label class="btn btn-outline-primary" for="btn-check">Modèle v.2</label>

                <button type="submit" form="prompt" value="submit" class="btn btn-primary">Générer</button>

                </form>  

                

                
            </div>
        </div>
        <div class="w-100"></div>
    </div>
</div>

<script>
    function download() {
        const imageData = document.getElementById("generated-img").src;
        const downloadLink = document.createElement("a");
        downloadLink.href = imageData;
        downloadLink.download = "generatedImage" + Date.now() + ".png";
        downloadLink.class = "hidden";
        downloadLink.click();
    };

    function updateModelText() {
        console.log("COUCOU");
    }
</script>

{% endblock %}
